.presentation-contenant{
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    gap: 1rem;
}
.presentation-title{
    display: flex;
    justify-content: center;
    color: red;
    text-decoration: underline;
}
.presentation-title h2{
    font-size: 30px;
}
.presentation-text{
    padding: 0 5rem;
}
.presentation-text p{
    font-size: 18px;
}
.presentation-valeurs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.presentation-valeurs-titre{
    color: red;
    text-decoration: underline;
}
.presentation-valeurs-titre h2{
    font-size: 30px;
}
.presentation-valeurs-contenu{
    display: flex;
    font-size: 18px;
    gap: 25px;
}