.presentation-contenant{
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    gap: 1rem;
    background-image: url(https://i.postimg.cc/qvhpDx75/i-Stock-840576078.jpg);
    background-size: cover;
    width: 100%;
    align-items: center;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    padding: 15px;
    margin: 15px;
    background-color: white;
    gap: 15px;
    width: 81%;
}
.presentation-partie-1{
    padding-left: 3rem;
}
.presentation-titre{
    display: flex;
    justify-content: center;
}
.presentation-titre2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.presentation-titre2 h2{
    color: red; 
    font-size: 30px;
}
.presentation-titre h2{
    font-size: 50px;
}
.presentation-text{
    padding: 0 5rem;
}
.presentation-text p{
    font-size: 18px;
}
.presentation-valeurs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 34%;
    height: 100%;
    border: 2px black solid;
    padding: 1rem;
    background: white;
}
.presentation-valeurs-titre{
    text-decoration: underline;
}
.presentation-valeurs-titre h2{
    font-size: 30px;
}
.presentation-valeurs-contenu{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 25px;
}
.partie2{
    display: flex;
    width: 100%;
   justify-content: space-around;
}
@media screen and (max-width:750px){
    .partie2{
        display: flex;
        flex-direction: column;
    }
    .presentation-contenant{
        padding-left: 2%;
        padding-right: 2%;
    
    }
    .presentation-valeurs{
        width: 100%;
    }
    .presentation-titre h2{
        font-size: 33px;
    }
    .presentation{
        width: 100%;
    }
}