.categorie-contenant{
    display: flex;
    flex-direction: column;
    gap:30px;
    background-image: url(https://i.postimg.cc/qvhpDx75/i-Stock-840576078.jpg);
    background-size: cover;
    width: 100%;
}
.categorie-bloc-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 2%;
}
.categorie-bloc-1-titre{
    color: #bf1d1d;
    margin-top: 25px;
}
.categorie-bloc-1-titre h2{
    font-size: 30px;
}

.categorie-bloc-1-text{
    width: 80%;
}
.categorie-bloc-1-text p {
    color: white;
}
.categorie-bloc-1-text p{
    font-size: 18px;
}
.categorie-bloc-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.categorie-contenant h3 {
    color: #bf1d1d;
    font-size: 25px;
}
.categorie-bloc-2-text {
    width: 80%;
}
.categorie-contenant ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}
.categorie-contenant p, li{
    font-size: 18px;
    
}

.categorie-bloc-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.categorie-bloc-3-text{
    width: 80%;
}
.categorie-bloc-3-list {
    width: 60%;
}
.categorie-bloc-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.categorie-bloc-bas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-left: 7%;
    margin-right: 7%;
}
.categorie-bloc-2, 
.categorie-bloc-3, 
.categorie-bloc-4{
    display: flex;
    border: 2px black solid;
    background-color:#dbd2d2;
    padding: 15px;
}
.devis{
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbd2d2;
    padding: 15px;
    margin-left: 7%;
    margin-right: 7%;
}
.devis-contact{
    color: #bf1d1d;
    text-decoration: underline;
    font-size: 25px;
}
.link-prestation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.button-presta{
    padding: 25px;
    border-radius: 25px;
    background-color: #bf1d1d;
    color: white;
}
@media screen and (max-width:750px){
    .categorie-bloc-bas{
        display: flex;
        flex-direction: column;
    }
    .categorie-bloc-1-titre h2{
        padding-left: 12%;
    }
}