.footer-contenant{
    display: flex;
    flex-direction: row;
    background:#bf1d1d; 
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    gap: 15px;
}
.footer-coordonnées{
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.footer-tel{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-tel-numero p{
    font-size: 1.5rem;
}
.footer-adresse{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-horraires{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-tel-emoticone{
    font-size: 2rem;
}
.footer-adress-emo{
    font-size: 2rem;
}
.footer-adress-text p{
    font-size: 1.5rem;
}
.footer-horraires-emo{
    font-size: 2rem;
}
.footer-horraires-text p{
    font-size: 1.5rem;
}
.footer-contact{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.footer-mentions{
    text-decoration: none;
    color: white;
}
.footer-copyright{
    text-decoration: none;
    color: white;
}
.footer-liens-contenant{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.footer-liens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.footer-contact button{
    color: white;
    font-size: 25px;
    border-radius: 2rem;
    width: 15rem;
    height: 4rem;
    background-color: #9E9B9C;
}
.liens-adress{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:850px){
    .footer-contenant{
        display: flex;
        flex-direction: column;
    }
    .footer-contact button{
        width: 10rem;
    }
}
